.mainContainer {
  max-width: 80vw;
  margin: auto;
  border: solid 2px black;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

/* Numero da indovinare */
.gameContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10vw;
  margin: auto;
  height: 35vh;
  align-items: center;
  margin-bottom: 5vh;
}

.numContainer {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rollNum {
  text-align: center;
  max-width: 50px;
  min-width: 10px;
}

.numberCard {
  height: 100%;
  width: 40%;
  font-size: 50px;
  max-width: 40%;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.numberPosition {
  font-size: 200px;
}

.numberPosition:hover {
  cursor: pointer;
}
/* Input player */
.inputContainer {
  margin-bottom: 3vh;
}

.rerollBtn {
  margin-bottom: 25px;
}
